/***
General stylesheet for all
web pages in the website
*/

/*
all body elements have centered text in sans-serif font
*/
body {
    text-align: center;
    font-family: sans-serif;
    background: #333333; /* dark gray */
    color: #EDEDED; /* light gray */
}

/*
anchors have new color scheme to match rest of the website
*/
a {
    color: #F7F7F7; /* light-light gray */
}

/*
anchors switch their color when hovered over
*/
a:hover {
    color: #FFFFFF; /* white */
}

/*
tables with center class are centered
*/
table.center {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

/*
collapse border on table
*/
table {
    border-collapse: collapse;
}

/*
include border on table and table contents
*/
table, td, th {
    border: 1px solid #EDEDED; /* light gray border */
}